# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/
dist/

# production
.vercel/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# testing / coverage
coverage/
.playwright/
test-results/

# cache
.cache/
.eslintcache
.stylelintcache

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# local files
*.local

# misc
*.pem